<mat-list-item (click)="cambiarOpcion('estudiantes')">
    <h6>
        <mat-icon class="icon-aling" mat-icon>account_circle</mat-icon> Estudiantes
    </h6>
</mat-list-item>
<mat-list-item (click)="cambiarOpcion('asesores')">
    <h6>
        <mat-icon class="icon-aling" mat-icon>person</mat-icon> Asesores
    </h6>
</mat-list-item>
<mat-list-item>
    <h6>
        <mat-icon class="icon-aling" mat-icon>people</mat-icon> Miembros del Comité
    </h6>
</mat-list-item>
<mat-list-item (click)="cambiarOpcion('listarProyecto')">
    <h6>
        <mat-icon class="icon-aling" mat-icon>bar_chart</mat-icon> AnteProyectos Registrados
    </h6>
</mat-list-item>

<mat-list-item (click)="cambiarOpcion('ValorarProyectoC')">
    <h6>
        <mat-icon class="icon-aling" mat-icon>check_box</mat-icon> Valorar
        AnteProyecto
    </h6>
</mat-list-item>
<mat-list-item (click)="cambiarOpcion('listarProyectoAsignar')">
    <h6>
        <mat-icon class="icon-aling" mat-icon>how_to_reg</mat-icon> Asignar Asesor
    </h6>
</mat-list-item>