<div class="container  mt-5">
    <div class="container-header">
        <div class="row">
            <div class="col-12">
                <strong>
                    <h1>Miembros del comite</h1>
                </strong>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="row">
            <mat-card *ngFor="let item of Profesores" class="card-ubications">
                <div class="col">
                    <img mat-card-image src="{{item.img}}">
                    <mat-card-content>
                        <p>{{item.type}}</p>
                        <h5>{{item.name}}</h5>
                    </mat-card-content>
                </div>
            </mat-card>

        </div>
    </div>
</div>