<h2 mat-dialog-title>Actualización de Contraseña</h2>
<mat-dialog-content class="mat-typography">
    <p class="title-body font-weight-light text-wrap">Complete los siguientes datos</p>
    <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" class="mat-form-field w-100">
                        <mat-label>Nueva Contraseña</mat-label>
                        <input type="password" matInput placeholder="Digitar Nueva Contraseña" [(ngModel)]="temporal"
                            name="nuevaContrasena" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="mat-form-field w-100">
                        <mat-label>Repita la Nueva Contraseña</mat-label>
                        <input type="password" matInput placeholder="Digitar nuevamente la contraseña"
                            [(ngModel)]="login.Password" name="identificacioncomite" required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-dialog-actions align="center">
            <button mat-raised-button id="btn-color" class="mb-4" [mat-dialog-close]="true"
                type="submit">Guardar</button>
            <button mat-raised-button mat-dialog-close color="warn" class="mb-4">Cancelar</button>
        </mat-dialog-actions>

    </form>
</mat-dialog-content>