<div class="container  mt-5">
    <div class="container-header">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenido a la universidad popular del cesar</h1>
                <h4>Estudiantes de psicologia</h4>
            </div>
        </div>
    </div>
    <div class="container-body1">
        <div class="row">
            <div class="col-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon class="icon-position" mat-card-avatar>school</mat-icon>
                        <mat-card-title>Perfiles del aspirante</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-aling">
                            La persona que aspire a ser estudiante de psicología en la Universidad Popular del Cesar,
                            tendrá interés por el estudio de las humanidades, interés por estudiar, entender y analizar
                            los problemas humanos, preocupación por las problemáticas que actualmente afectan a la
                            sociedad, disposición por el servicio social e interés por el trabajo con las personas;
                            individuos, grupos y organizaciones, sensibilidad social y respeto por la diferencia, buen
                            desempeño académico en áreas afines a la Psicología. Con actitud hacia la investigación,
                            pensamiento sistemático y creador, motivaciones sólidas, intereses definidos hacia la
                            carrera, actitud de servicio y auténtico sentido social, responsabilidad, sentido ético,
                            disciplinado y con equilibrio emocional.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="row">
            <div class="col-6">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon class="icon-position" mat-card-avatar>engineering</mat-icon>
                        <mat-card-title>Ocupacional</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-aling">
                            El psicólogo de la Universidad Popular del Cesar, estará en capacidad de desempeñarse
                            laboralmente en el área clínica, educativa, organizacional, social-comunitario, y jurídica;
                            en estos campos podrá comprender las dimensiones del ser humano en su totalidad, y adoptar
                            una actitud empática que le permitirá acercarse a sus congéneres en sus diferentes
                            contextos, favoreciendo el desarrollo y bienestar del individuo, grupos y comunidades.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon class="icon-position" mat-card-avatar>how_to_reg</mat-icon>
                        <mat-card-title>Profesional</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-aling">
                            El psicólogo que preparará la Universidad Popular del Cesar, estará en capacidad de
                            analizar, planificar, evaluar, diagnosticar e intervenir en programas de promoción,
                            prevención y atención en situaciones individuales, grupales, institucionales y/o sociales en
                            los campos Educativo, Clínico, Social, Organizacional y Político-legal, de desempeño o
                            aplicación como en el campo de la investigación, valiéndose de las habilidades y
                            competencias.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>