<h2 mat-dialog-title>Registrar nuevo asesor</h2>
<mat-dialog-content class="mat-typography">
    <p class="title-body font-weight-light text-wrap">Complete los siguientes datos</p>
    <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Nombre Completo</mat-label>
                    <input type="text" matInput placeholder="Digitar Nombre" name="nombreAsesor"
                        [(ngModel)]="Asesor.Name_Complet" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Correo electronico</mat-label>
                    <input type="email" matInput placeholder="Digitar correo" [(ngModel)]="Asesor.Email"
                        name="correoAsesor" required>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Telefono</mat-label>
                    <input type="text" matInput placeholder="Digitar telefono" name="telefonoAsesor"
                        [(ngModel)]="Asesor.Phone" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Numero identificacion</mat-label>
                    <input type="text" matInput placeholder="Digitar identificacion"
                        [(ngModel)]="Asesor.Identification" name="identificacionAsesor" required>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Rol</mat-label>
                    <mat-select name="tipoasesor" [(ngModel)]="Asesor.Type_Asser">
                        <mat-option *ngFor="let item of TipoAsesor" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Direccion</mat-label>
                    <input type="text" matInput placeholder="Digitar dirección" name="direccionAsesor"
                        [(ngModel)]="Asesor.Direction" required>
                </mat-form-field>
            </div>
        </div>
        <mat-dialog-actions align="center">
            <button mat-raised-button id="btn-color" class="mb-4" [mat-dialog-close]="true" cdkFocusInitial
                type="submit">Guardar</button>
            <button mat-raised-button mat-dialog-close color="warn" class="mb-4">Cancelar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>