<div class="container  mt-5">
    <div class="container-header">
        <div class="row">
            <div class="col-12">
                <h1>AnteProyectos asignados para Asesorias</h1>
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="row">
            <div class="col-12">
                <div class="mat-elevation-z2">
                    <table mat-table [dataSource]="dataSource" class="w-100" MatSort>
                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let item; let i = index;"> {{(i+1)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Titulo del proyecto</th>
                            <td mat-cell *matCellDef="let item"> {{item.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="line">
                            <th mat-header-cell *matHeaderCellDef>Linea de investigación</th>
                            <td mat-cell *matCellDef="let item"> {{item.line}}</td>
                        </ng-container>

                        <ng-container matColumnDef="focus">
                            <th mat-header-cell *matHeaderCellDef>Enfoque</th>
                            <td mat-cell *matCellDef="let item"> {{item.focus}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>