<div class="container  mt-5">
    <div class="container-header">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenido a la Universidad Popular del Cesar</h1>
                <h4>Asesores</h4>
            </div>
        </div>
    </div>
    <div class="container-body1">
        <div class="row">
            <div class="col-12 principal">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon class="icon-position" mat-card-avatar>school</mat-icon>
                        <mat-card-title>Misión del Programa de Psicología</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-aling">
                            El programa de Psicología,  tiene en cuenta la Misión y el Proyecto Educativo Institucional, en aspectos básicos como 
                            “pretender formar personas con sentido crítico-participativo”, esto lo logrará el programa de Psicología  
                            a través de su currículo desarrollado en Procesos y reforzado por un modelo pedagógico Constructivista; 
                            así mismo “actores de la investigación científica, , “agentes promotores de la civilidad, la paz, los valores y el 
                            respeto por los derechos humanos”, aspecto este ampliamente contemplado en el plan de estudios y reforzado por el 
                            enfoque Psicológico humanista, adoptado por el programa como respuesta a la necesidad regional y local ampliamente justificada.

                            Igualmente se trabajará para la conservación del Medio y del Ambiente, específicamente desde las asignaturas de Bioética y Deontología, 
                            psicología ecológica y ambiental, prosocialidad, asignaturas estas  que pretenden lograr el equilibrio del hombre y el medio en el que vive.

                            Los anteriores aspectos permiten  formar profesionales con las características antes mencionadas  e implementar programas de corte humanístico, 
                            proyectando a la UPC como  el Alma Mater de la región, creadora, transformadora y difusora de conocimientos en aras de lograr la calidad académica, 
                            todo lo anterior a partir de un trabajo en equipo y sobre los cuatro pilares de la educación promulgados por la UNESCO: Aprender a Ser, Aprender a Conocer, 
                            Aprender a Hacer y Aprender a Convivir  Juntos, que han servido como inspiradores del PEI de la Institución.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-body">
        <div class="row">
            <div class="col-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-icon class="icon-position" mat-card-avatar>outlined_flagg</mat-icon>
                        <mat-card-title>Obejtivos</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="text-aling">
                           <li>Crear y consolidar instrumentos y mecanismos que favorezcan el desarrollo de las capacidades 
                            de investigación en la formación de profesionales, en armonía con el entorno social, cultural y sus tendencias. </li> 
                            <li>Crear los escenarios de investigación, la prestación de servicio y proyección social exigido para la acreditación 
                            de los programas universitarios, así como llevar a la práctica los conocimientos científicos generados en la actividad académica.</li>
                            <li>Coordinar y articular acciones con el fin de ofrecer alternativas de solución a necesidades y situaciones de conflicto presentadas 
                            en los ámbitos local, nacional e internacional.</li>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>