.body {
    width: 100%;
    position: relative;
    z-index: -1000;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.container-header{
    text-align: center;
    width: 100%;
}

.container-body{
    margin-top: 10px;
}

.title-body{
    text-align: left;
}

#btn-color{
    color: #ffffff;
    background-color: #339240 !important;
}

.ubication{
    margin-right: 13px;
}


.icon-position{
    margin-right: -27px;
    margin-top: 2px;
}

.text-aling{
    text-align: justify;
}

.img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
  }