  
.nav-color{
    background-color: #339240;
    
}

.nav-item {
    padding-left: 10px;
}

nav {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.nav-link{
    color: #ffffff !important;
}