<h2 mat-dialog-title>Asignar asesores metodologico y tematico</h2>
<mat-dialog-content class="mat-typography">
    <p class="title-body font-weight-light text-wrap">Complete los siguientes datos</p>
    <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Titulo del proyecto</mat-label>
                    <input type="text" matInput value="{{data.title}}" disabled [(ngModel)]="asesorias.TituloProyecto"
                        name="titulorpoyecto">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Asesor Metodologico Sugerido</mat-label>
                    <input type="text" matInput value="{{data.metodologic_Advisor.name_Complet}}" disabled
                        name="titulorpoyecto">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Asesor Metodologico</mat-label>
                    <mat-select name="thematic_advisor" [(ngModel)]="asesorias.IdThematicAdvisor">
                        <mat-option *ngFor="let item of AsesorMetodologico" [value]="item.identification">
                            {{item.name_Complet}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Asesor Tematico Sugerido</mat-label>
                    <input type="text" matInput value="{{data.thematic_Advisor.name_Complet}}" disabled
                        name="titulorpoyecto">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Asesor Temático</mat-label>
                    <mat-select name="thematic_advisor" [(ngModel)]="asesorias.IdMetodologicAdvisor">
                        <mat-option *ngFor="let item of AsesorTematico" [value]="item.identification">
                            {{item.name_Complet}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Corte</mat-label>
                    <mat-select name="Cortes" [(ngModel)]="asesorias.semester">
                        <mat-option *ngFor="let item of Cortes" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Horas asignadas</mat-label>
                    <input type="number" matInput placeholder="Digitar Horas assignadas"
                        [(ngModel)]="asesorias.AssignedHours" name="horasproyecto" required>
                </mat-form-field>
            </div>
        </div>


        <mat-dialog-actions align="center">
            <button mat-raised-button id="btn-color" class="mb-4" [mat-dialog-close]="true"
                type="submit">Guardar</button>
            <button mat-raised-button mat-dialog-close color="warn" class="mb-4">Cancelar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>