<index-menu (opcion)="verOpcion($event)">
    <index-inicio *ngIf="opcionMenu === 'inicio'"></index-inicio>
    <!-- <listar-estudiantes *ngIf="opcionMenu === 'ItemEstudiante'"></listar-estudiantes> -->
    <index-estudiantes *ngIf="opcionMenu === 'estudiantes'"></index-estudiantes>
    <index-asesores *ngIf="opcionMenu === 'asesores'"></index-asesores>
    <index-miembros-comite *ngIf="opcionMenu === 'miembroComite'"></index-miembros-comite>
    <index-listar-proyecto *ngIf="opcionMenu === 'listarProyecto'"></index-listar-proyecto>
    <listar-proyecto-asignar *ngIf="opcionMenu === 'listarProyectoAsignar'"></listar-proyecto-asignar>
</index-menu>