<h2 mat-dialog-title>Realizar Evaluación </h2>
<mat-dialog-content class="mat-typography">
    <p class="title-body font-weight-light text-wrap">Complete los siguientes datos</p>
    <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="mat-form-field w-100">
                    <mat-label>Evaluación</mat-label>
                    <textarea matInput type="text" placeholder="Digitar la evaluación para este proyecto..." name="ObservacionProyecto"
                        required></textarea>
                </mat-form-field>
            </div>
        </div>

        <mat-dialog-actions align="center">
            <button mat-raised-button id="btn-color" class="mb-4" [mat-dialog-close]="true"
                type="submit">Guardar</button>
            <button mat-raised-button mat-dialog-close color="warn" class="mb-4">Cancelar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>