#btn-color{
    color: #ffffff;
    background-color: #339240 !important;
}

.mat-dialog-actions{
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    align-content: center;
     margin-bottom: 0px;
}